// .app {
//   color: darkmagenta;
//   text-transform: capitalize;
//   font-size: larger;
// }
html {
  background-color: peachpuff;
}

button {
  background-color: rgb(180, 246, 246);
  line-height: 2.5;
    font-size: larger;
    font-weight: 700;
    font-family: cursive;
    border-radius: 5px;
    margin: 0 10px;
}

// .fade-enter {
//   opacity: 0;
//   transform: translateX(100px);
//   z-index: 1;
//   position: relative;
// }

// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: all 250ms ease-in;
// }

// .fade-exit {
//   opacity: 0.5;
// }

// .fade-exit.fade-exit-active {
//   opacity: 0;
//   transition: all 250ms ease-in;
// }

@media (min-width: 770px) and (max-width: 1000px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}


@media (min-width: 500px) and (max-width: 770px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}


@media (max-width: 500px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    width: 100%;
  }
}